
<!-- nonlogin -->
<div style="text-align:center;height:570px;">
    <form style="width:400px;margin:0 auto;display:table;padding-top:100px;">
        <h1>管理员登录</h1>
        <br>
        <div>
            <input type="text" class="form-control" name="uname" required [(ngModel)]="userName"/>
        </div>
        <br>
        <div>
            <input type="password" class="form-control" name="upwd" required [(ngModel)]="userUpwd"/>
        </div>
        <br>
        <div style="clear: both;">
            <a class="btn btn-default submit" name="usubmit" (click)="doLogin()">&nbsp;登&nbsp;录&nbsp;</a>
        </div>
    </form>
</div>
<!-- /nonlogin -->